<!DOCTYPE html>
<html>

<head>

    <title>Analyzing...</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<div class="analysis-container">

<h1>🤖 MULTI_AGENT</h1>

<p>AI Agents are working...</p>

<div class="timeline">

<div class="step" id="step1">

⏳ Analyzing Symptoms...

</div>

<div class="step" id="step2">

⏳ Finding Best Specialist...

</div>

<div class="step" id="step3">

⏳ Searching Nearby Hospitals...

</div>

<div class="step" id="step4">

⏳ Fetching Appointment Details...

</div>

<div class="step" id="step5">

⏳ Preparing Final Report...

</div>

</div>

</div>

<script src="{{ url_for('static', filename='analyzing.js') }}"></script>

</body>

</html>